* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    min-height: 70px;
    padding-top: 20px;
    background-color: lightgray;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
}

form h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

form input {
    width: 300px;
    height: 2em;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    color: red;
}
form label {
    text-align: center;
    width: 300px;
    height: 1.4em;
}

form button {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 2em;
    cursor: pointer;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
    margin: 0 10px;
    gap: 20px;
}

#accountHolder {
    width: 100vh;
    height: 100%;
    padding-top: 10%;
    text-align: center;
    justify-self: center;
    align-self: center;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: lightcyan;
    font-size: 3em;
}

#accountHolder button{
    width: 50%;
    height: 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#formSubmit {
    width: 100vh;
    height: 100%;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: lightskyblue;
}

#formSubmit button {
    cursor: pointer;
}