* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title h1 {
    margin-top: 35px;
}

.navIcon i {
    padding-right: 10px;
    color: black;
}
.navIcon i:hover {
    color: lightsalmon;
}

nav {
    height: 20px;
    background-color: lightgray;
}

.navItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.navItems li {
    list-style: none;
}

.navItems a {
    text-decoration: none;
    color: #000;
}
.navItems a:hover {
    color: #fff;
}

#contentMenu {
    background-color: lightgray;
    margin-top: 10px;
    width: 200px;
    height: 100vh;
    float: left;
}

.contentHeader {
    padding-bottom: 10px;
    text-align: center;
}

#contentList li {
    list-style: none;
    text-align: center;
}

#Main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    margin-left: 220px;
    margin-right: 30px;
}

#important, #necessary {
    align-items: start;
}

.newTask {
    width: 200px;
}

.newTask i {
    color: #000;
}
.newTask i:hover {
    color: lightsalmon;
}

.cardSection {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 2, 1fr;
    text-align: center;
}

.cardSection h3 {
    padding-bottom: 10px;
}

.cardSection li {
    margin-left: 20px;
    width: 90%;
    font-size: 1.2em;
    color: red;
    border-bottom: 1px solid #000;
}

.navIcon {
    margin-right: 10px;
    justify-content: center;
    align-self: center;
}

.logoHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.logoHeader h1 {
    justify-content: center;
    align-self: center;
}

.newTask {
    padding-left: 40px;
    margin-top: 20px;
}

.newTask h4 {
    text-decoration: none;
    color: black;
}

.newTask button {
    padding-left: 40px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.formDetail {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#popup {
    width: 300px;
    position: relative;
    top: 100px;
    left: 30px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 10px;
  }

#popup .popupText {
    width: 300px;
    visibility: hidden;
    background-color: lightgray;
    color: #000;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
  }

  #popup .popupText::after {
    content: "";
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

#popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    text-align: center;
    padding: 0;
  }