* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title h1 {
    margin-top: 35px;
}

.navIcon i {
    padding-right: 10px;
    color: black;
}
.navIcon i:hover {
    color: lightsalmon;
}

nav {
    height: 20px;
    background-color: lightgray;
}

.navItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.navItems li {
    list-style: none;
}

.navItems a {
    text-decoration: none;
    color: #000;
}
.navItems a:hover {
    color: #fff;
}

#contentMenu {
    background-color: lightgray;
    width: 300px;
    height: 100vh;
    justify-self: center;
}

.contentHeader {
    padding-bottom: 10px;
    text-align: center;
}

#contentList li {
    list-style: none;
    text-align: center;
}

.important {
    text-align: center;
}

.lessImportant {
    text-align: center;
}

.newTask i {
    color: #000;
}
.newTask i:hover {
    color: lightsalmon;
}

.navIcon {
    margin-right: 10px;
    justify-content: center;
    align-self: center;
}

.logoHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.logoHeader h1 {
    justify-content: center;
    align-self: center;
}

section {
    text-align: center;

}

.newTask {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.newTask h4 {
    text-decoration: none;
    color: black;
}

.newTask button {
    border: none;
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}

.formDetail {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#popup {
    width: 300px;
    position: relative;
    top: 150px;
    left: 100px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 10px;
  }

#popup .popupText {
    width: 300px;
    visibility: hidden;
    background-color: rgba(211, 211, 211, 0.321);
    color: #000;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
  }

  #popup .popupText::after {
    content: "";
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

#popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    text-align: center;
    padding: 0;
  }

#Main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    grid-auto-flow: column;
}

  .cardSection {
    width: 50%;
    float: left;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .card {
    width: 50%;
    margin-left: 50vw;
    margin-right: 10vw;
  }

  switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 40px;
    text-align: center;
  }

  .switch label {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .card button {
    width: 40px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }